{% extends "base.html.twig" %}

{% block body %}
    
    <h1>Wellcome on my blog</h1>


    <a href="{{ path('show_category', { 'categoryName' : 'Javascript'}) }}">
        Javascrip category.
    </a>
{% endblock %}