{% extends "base.html.twig" %}

{% block body %}
    
    <h1>Wellcome on my blog</h1>


        <div>
            <a href="{{ path('show_category', { 'categoryName' : 'Javascript'}) }}">
                Javascript category.
            </a>
            <br>
            <a href="{{ path('show_category', { 'categoryName' : 'CatA'}) }}">
                CatA category.
            </a>
            <br>
            <a href="{{ path('show_category', { 'categoryName' : 'CatB'}) }}">
                CatB category.
            </a>
        </div>

{% endblock %}